<!DOCTYPE html>
<html>
    <head>
        <title>Login | CIDR Listings</title>
        <meta charset="utf-8" />
        <!--IE compatibility-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="stylesheet" href="/static/vendored/css/normalize.css" />
        <link rel="stylesheet" href="/static/css/shared.css" />
        <link rel="stylesheet" href="/static/css/log-in.css" />
        <script src="/static/vendored/js/htmx.min-1.9.5.js"></script>
        <script src="/static/vendored/js/htmx.response-targets-1.9.5.js"></script>
    </head>
    <body>
        <div id="htmx-error-alert" hidden></div>
        <div class="login">
            <div class="inner-login">
                <div>
                    <img id="logo" alt="CIDR Listings" src="/static/img/logo.png" />
                </div>
                <form action="/login" method="post" hx-ext="response-targets">
                    <div>
                        <label for="loginlogin">Username</label>
                        <input id="loginlogin"
                               type="text"
                               placeholder="Enter username"
                               name="login"
                               required />
                    </div>
                    <div>
                        <label for="loginpassword">Password</label>
                        <input id="loginpassword"
                               type="password"
                               placeholder="Enter password"
                               name="password"
                               required />
                    </div>
                    <div id="errors"></div>
                    <div>
                        <button type="submit"
                                hx-post="/login"
                                hx-target-400="#errors"
                                hx-target-401="#errors"
                                hx-target-403="#errors"
                                hx-target-500="#errors"
                                hx-target-503="#errors">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script src="/static/js/error.js"></script>
</html>
